<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 影片搜索 -->
<mapper namespace="com.vst.defend.dao2.movie.VstMovieSearchDao">
	
	<!-- 开启本mapper的namespace下的二级缓存 -->
	<cache flushInterval="3600000" readOnly="true" />
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap" useCache="false">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_mos_date '日期', vst_mos_pkg '包名', vst_mos_special_type '专区类型',
				vst_mos_cid '影片分类', vst_mos_uuid '影片ID', vst_mos_name '影片名称',
				vst_mos_amount '搜索量', vst_mos_amount_dod '搜索量天环比', vst_mos_amount_wow '搜索量周环比',
				vst_mos_uv '独立用户', vst_mos_uv_dod '独立用户天环比', vst_mos_uv_wow '独立用户周环比',
				vst_mos_avg '人均搜索量'
			</otherwise>
		</choose>
		FROM vst_movie_search
		<where>
			<if test="startDay != null and startDay != ''">
				vst_mos_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_mos_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_mos_pkg = #{pkgName}
			</if>
			<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
				AND vst_mos_special_type = #{vst_mos_special_type}
			</if>
			<if test="vst_mos_cid != null and vst_mos_cid != ''">
				AND vst_mos_cid = #{vst_mos_cid}
			</if>
			<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
				AND vst_mos_uuid = #{vst_mos_uuid}
			</if>
			<if test="vst_mos_name != null and vst_mos_name != ''">
				AND vst_mos_name like '%${vst_mos_name}%'
			</if>
			<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
				AND vst_mos_name = #{vst_mos_name_eq}
			</if>
			<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
				AND vst_mos_name != #{vst_mos_name_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_mos_date DESC, vst_mos_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
	<!-- 获取列表 -->
	<select id="queryList" parameterType="map" resultType="java.util.HashMap" useCache="false">
		SELECT * FROM vst_movie_search
		<where>
			<if test="date != null and date != ''">
				vst_mos_date = #{date}
			</if>
			<if test="startDay != null and startDay != ''">
				AND vst_mos_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_mos_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_mos_pkg = #{pkgName}
			</if>
			<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
				AND vst_mos_special_type = #{vst_mos_special_type}
			</if>
			<if test="vst_mos_cid != null and vst_mos_cid != ''">
				AND vst_mos_cid = #{vst_mos_cid}
			</if>
			<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
				AND vst_mos_uuid = #{vst_mos_uuid}
			</if>
			<if test="vst_mos_name != null and vst_mos_name != ''">
				AND vst_mos_name like '%${vst_mos_name}%'
			</if>
			<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
				AND vst_mos_name = #{vst_mos_name_eq}
			</if>
			<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
				AND vst_mos_name != #{vst_mos_name_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_mos_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
	<!-- 查询记录数 -->
	<select id="queryCount" parameterType="map" resultType="int" useCache="false">
		SELECT count(1) FROM vst_movie_search
		<where>
			<if test="date != null and date != ''">
				vst_mos_date = #{date}
			</if>
			<if test="startDay != null and startDay != ''">
				AND vst_mos_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_mos_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_mos_pkg = #{pkgName}
			</if>
			<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
				AND vst_mos_special_type = #{vst_mos_special_type}
			</if>
			<if test="vst_mos_cid != null and vst_mos_cid != ''">
				AND vst_mos_cid = #{vst_mos_cid}
			</if>
			<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
				AND vst_mos_uuid = #{vst_mos_uuid}
			</if>
			<if test="vst_mos_name != null and vst_mos_name != ''">
				AND vst_mos_name like '%${vst_mos_name}%'
			</if>
			<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
				AND vst_mos_name = #{vst_mos_name_eq}
			</if>
			<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
				AND vst_mos_name != #{vst_mos_name_ne}
			</if>
		</where>
	</select>
	
	<!-- 查询影片搜索汇总排行 -->
	<select id="queryTopList" parameterType="map" resultType="java.util.HashMap">
		SELECT
			max(vst_mos_special_type) vst_mos_special_type,
			max(vst_mos_cid) vst_mos_cid,
			vst_mos_uuid,
			max(vst_mos_name) vst_mos_name,
			sum(vst_mos_amount) vst_mos_amount
		FROM vst_movie_search
		<where>
			<if test="date != null and date != ''">
				vst_mos_date = #{date}
			</if>
			<if test="startDay != null and startDay != ''">
				AND vst_mos_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_mos_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_mos_pkg = #{pkgName}
			</if>
			<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
				AND vst_mos_special_type = #{vst_mos_special_type}
			</if>
			<if test="vst_mos_cid != null and vst_mos_cid != ''">
				AND vst_mos_cid = #{vst_mos_cid}
			</if>
			<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
				AND vst_mos_uuid = #{vst_mos_uuid}
			</if>
			<if test="vst_mos_name != null and vst_mos_name != ''">
				AND vst_mos_name like '%${vst_mos_name}%'
			</if>
			<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
				AND vst_mos_name = #{vst_mos_name_eq}
			</if>
			<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
				AND vst_mos_name != #{vst_mos_name_ne}
			</if>
		</where>
		GROUP BY vst_mos_uuid
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_mos_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
	<!-- 查询影片搜索汇总记录数 -->
	<select id="queryTopCount" parameterType="map" resultType="int">
		SELECT count(1) FROM (
			SELECT vst_mos_uuid FROM vst_movie_search
			<where>
				<if test="date != null and date != ''">
					vst_mos_date = #{date}
				</if>
				<if test="startDay != null and startDay != ''">
					AND vst_mos_date >= #{startDay}
				</if>
				<if test="endDay != null and endDay != ''">
					AND vst_mos_date &lt;= #{endDay}
				</if>
				<if test="pkgName != null and pkgName != ''">
					AND vst_mos_pkg = #{pkgName}
				</if>
				<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
					AND vst_mos_special_type = #{vst_mos_special_type}
				</if>
				<if test="vst_mos_cid != null and vst_mos_cid != ''">
					AND vst_mos_cid = #{vst_mos_cid}
				</if>
				<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
					AND vst_mos_uuid = #{vst_mos_uuid}
				</if>
				<if test="vst_mos_name != null and vst_mos_name != ''">
					AND vst_mos_name like '%${vst_mos_name}%'
				</if>
				<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
					AND vst_mos_name = #{vst_mos_name_eq}
				</if>
				<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
					AND vst_mos_name != #{vst_mos_name_ne}
				</if>
			</where>
			GROUP BY vst_mos_uuid
		) a
	</select>
	
	<!-- 导出影片搜索汇总数据 -->
	<select id="queryTopExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
			max(vst_mos_special_type) '专区类型',
			max(vst_mos_cid) '影片分类',
			vst_mos_uuid '影片ID',
			max(vst_mos_name) '影片名称',
			sum(vst_mos_amount) '总搜索量'
		FROM vst_movie_search
		<where>
			<if test="date != null and date != ''">
				vst_mos_date = #{date}
			</if>
			<if test="startDay != null and startDay != ''">
				AND vst_mos_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_mos_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_mos_pkg = #{pkgName}
			</if>
			<if test="vst_mos_special_type != null and vst_mos_special_type != ''">
				AND vst_mos_special_type = #{vst_mos_special_type}
			</if>
			<if test="vst_mos_cid != null and vst_mos_cid != ''">
				AND vst_mos_cid = #{vst_mos_cid}
			</if>
			<if test="vst_mos_uuid != null and vst_mos_uuid != ''">
				AND vst_mos_uuid = #{vst_mos_uuid}
			</if>
			<if test="vst_mos_name != null and vst_mos_name != ''">
				AND vst_mos_name like '%${vst_mos_name}%'
			</if>
			<if test="vst_mos_name_eq != null and vst_mos_name_eq != ''">
				AND vst_mos_name = #{vst_mos_name_eq}
			</if>
			<if test="vst_mos_name_ne != null and vst_mos_name_ne != ''">
				AND vst_mos_name != #{vst_mos_name_ne}
			</if>
		</where>
		GROUP BY vst_mos_uuid
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				sum(vst_mos_amount) DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
</mapper>