<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 二次活跃渠道用户(对外) -->
<mapper namespace="com.vst.defend.dao3.outer.OuterUserSecondaryActiveChannelDao">
	
	<select id="queryForList" parameterType="map" resultType="java.util.HashMap">
		SELECT * FROM outer_vst_user_secondary_active_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usac_pkg = #{pkgName}
			</if>
			<if test="vst_usac_channel != null and vst_usac_channel != ''">
				AND vst_usac_channel like '%${vst_usac_channel}%'
			</if>
			<if test="vst_usac_channel_eq != null and vst_usac_channel_eq != ''">
				AND vst_usac_channel = #{vst_usac_channel_eq}
			</if>
			<if test="vst_usac_channel_ne != null and vst_usac_channel_ne != ''">
				AND vst_usac_channel != #{vst_usac_channel_ne}
			</if>
			<if test="vst_usac_state != null and vst_usac_state != ''">
				AND vst_usac_state = #{vst_usac_state}
			</if>
			<if test="vst_usac_synctime_start != null and vst_usac_synctime_start != ''">
				AND vst_usac_synctime >= #{vst_usac_synctime_start}
			</if>
			<if test="vst_usac_synctime_end != null and vst_usac_synctime_end != ''">
				AND vst_usac_synctime &lt;= #{vst_usac_synctime_end}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usac_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="now != null and now != ''">
				AND (
					vst_usac_state = 2
					<!-- OR (#{now} - vst_usac_synctime) > (3600000*6) -->
				)
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_usac_date DESC, ROUND(vst_usac_amount * vst_usac_modulus) DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT count(1) FROM outer_vst_user_secondary_active_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usac_pkg = #{pkgName}
			</if>
			<if test="vst_usac_channel != null and vst_usac_channel != ''">
				AND vst_usac_channel like '%${vst_usac_channel}%'
			</if>
			<if test="vst_usac_channel_eq != null and vst_usac_channel_eq != ''">
				AND vst_usac_channel = #{vst_usac_channel_eq}
			</if>
			<if test="vst_usac_channel_ne != null and vst_usac_channel_ne != ''">
				AND vst_usac_channel != #{vst_usac_channel_ne}
			</if>
			<if test="vst_usac_state != null and vst_usac_state != ''">
				AND vst_usac_state = #{vst_usac_state}
			</if>
			<if test="vst_usac_synctime_start != null and vst_usac_synctime_start != ''">
				AND vst_usac_synctime >= #{vst_usac_synctime_start}
			</if>
			<if test="vst_usac_synctime_end != null and vst_usac_synctime_end != ''">
				AND vst_usac_synctime &lt;= #{vst_usac_synctime_end}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usac_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="now != null and now != ''">
				AND (
					vst_usac_state = 2
					<!-- OR (#{now} - vst_usac_synctime) > (3600000*6) -->
				)
			</if>
		</where>
	</select>
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
			vst_usac_date '日期', vst_usac_pkg '包名', vst_usac_channel '渠道',
			vst_usac_amount '二次活跃用户数', vst_usac_modulus '调整系数'
		FROM outer_vst_user_secondary_active_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usac_pkg = #{pkgName}
			</if>
			<if test="vst_usac_channel != null and vst_usac_channel != ''">
				AND vst_usac_channel like '%${vst_usac_channel}%'
			</if>
			<if test="vst_usac_channel_eq != null and vst_usac_channel_eq != ''">
				AND vst_usac_channel = #{vst_usac_channel_eq}
			</if>
			<if test="vst_usac_channel_ne != null and vst_usac_channel_ne != ''">
				AND vst_usac_channel != #{vst_usac_channel_ne}
			</if>
			<if test="vst_usac_state != null and vst_usac_state != ''">
				AND vst_usac_state = #{vst_usac_state}
			</if>
			<if test="vst_usac_synctime_start != null and vst_usac_synctime_start != ''">
				AND vst_usac_synctime >= #{vst_usac_synctime_start}
			</if>
			<if test="vst_usac_synctime_end != null and vst_usac_synctime_end != ''">
				AND vst_usac_synctime &lt;= #{vst_usac_synctime_end}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usac_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="now != null and now != ''">
				AND (
					vst_usac_state = 2
					<!-- OR (#{now} - vst_usac_synctime) > (3600000*6) -->
				)
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_usac_date DESC, ROUND(vst_usac_amount * vst_usac_modulus) DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
	<!-- 根据日期统计 -->
	<select id="queryReportByDate" parameterType="map" resultType="java.util.HashMap">
		SELECT
			vst_usac_date as date,
			ROUND(sum(vst_usac_amount * vst_usac_modulus)) as vst_usac_amount,
			MAX(vst_usac_amount) as old_uac_amount
		FROM outer_vst_user_secondary_active_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usac_pkg = #{pkgName}
			</if>
			<if test="vst_usac_channel != null and vst_usac_channel != ''">
				AND vst_usac_channel like '%${vst_usac_channel}%'
			</if>
			<if test="vst_usac_channel_eq != null and vst_usac_channel_eq != ''">
				AND vst_usac_channel = #{vst_usac_channel_eq}
			</if>
			<if test="vst_usac_channel_ne != null and vst_usac_channel_ne != ''">
				AND vst_usac_channel != #{vst_usac_channel_ne}
			</if>
			<if test="vst_usac_state != null and vst_usac_state != ''">
				AND vst_usac_state = #{vst_usac_state}
			</if>
			<if test="vst_usac_synctime_start != null and vst_usac_synctime_start != ''">
				AND vst_usac_synctime >= #{vst_usac_synctime_start}
			</if>
			<if test="vst_usac_synctime_end != null and vst_usac_synctime_end != ''">
				AND vst_usac_synctime &lt;= #{vst_usac_synctime_end}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usac_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="now != null and now != ''">
				AND (
					vst_usac_state = 2
					<!-- OR (#{now} - vst_usac_synctime) > (3600000*6) -->
				)
			</if>
		</where>
		GROUP BY vst_usac_date
		ORDER BY vst_usac_date ASC
	</select>
	
	<!-- 根据维度统计 -->
	<select id="queryReportByDim" parameterType="map" resultType="java.util.HashMap">
		SELECT
			vst_usac_channel as value,
			ROUND(sum(vst_usac_amount * vst_usac_modulus)) as vst_usac_amount
		FROM outer_vst_user_secondary_active_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usac_pkg = #{pkgName}
			</if>
			<if test="vst_usac_channel != null and vst_usac_channel != ''">
				AND vst_usac_channel like '%${vst_usac_channel}%'
			</if>
			<if test="vst_usac_channel_eq != null and vst_usac_channel_eq != ''">
				AND vst_usac_channel = #{vst_usac_channel_eq}
			</if>
			<if test="vst_usac_channel_ne != null and vst_usac_channel_ne != ''">
				AND vst_usac_channel != #{vst_usac_channel_ne}
			</if>
			<if test="vst_usac_state != null and vst_usac_state != ''">
				AND vst_usac_state = #{vst_usac_state}
			</if>
			<if test="vst_usac_synctime_start != null and vst_usac_synctime_start != ''">
				AND vst_usac_synctime >= #{vst_usac_synctime_start}
			</if>
			<if test="vst_usac_synctime_end != null and vst_usac_synctime_end != ''">
				AND vst_usac_synctime &lt;= #{vst_usac_synctime_end}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usac_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="now != null and now != ''">
				AND (
					vst_usac_state = 2
					<!-- OR (#{now} - vst_usac_synctime) > (3600000*6) -->
				)
			</if>
		</where>
		GROUP BY vst_usac_channel
		ORDER BY vst_usac_amount DESC
	</select>
	
</mapper>