<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 累计用户(设备)统计 -->
<mapper namespace="com.vst.defend.dao2.user.VstUserSumBdmodelDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_usb_date '日期', vst_usb_pkg '包名', vst_usb_bdmodel '设备名称',
				vst_usb_amount '用户数量', vst_usb_rate '用户占比',
				vst_usb_dod '天环比', vst_usb_wow '周环比', vst_usb_mom '月环比'
			</otherwise>
		</choose>
		FROM vst_user_sum_bdmodel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usb_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usb_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usb_pkg = #{pkgName}
			</if>
			<if test="vst_usb_bdmodel != null and vst_usb_bdmodel != ''">
				AND vst_usb_bdmodel like '%${vst_usb_bdmodel}%'
			</if>
			<if test="vst_usb_bdmodel_eq != null and vst_usb_bdmodel_eq != ''">
				AND vst_usb_bdmodel = #{vst_usb_bdmodel_eq}
			</if>
			<if test="vst_usb_bdmodel_ne != null and vst_usb_bdmodel_ne != ''">
				AND vst_usb_bdmodel != #{vst_usb_bdmodel_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_usb_date DESC, vst_usb_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
</mapper>