<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 活跃用户(升级版本)统计 -->
<mapper namespace="com.vst.defend.dao2.user.VstUserActiveUpVerDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_uau_date '日期', vst_uau_pkg '包名', vst_uau_verNum '升级版本',
				vst_uau_amount '日活跃用户', vst_uau_dod '日活跃天环比', vst_uau_wow '日活跃周环比', vst_uau_mom '日活跃月环比',
				vst_uau_week '周活跃用户', vst_uau_week_dod '周活跃天环比', vst_uau_week_wow '周活跃周环比', vst_uau_week_mom '周活跃月环比',
				vst_uau_month '月活跃用户', vst_uau_month_dod '月活跃天环比', vst_uau_month_wow '月活跃周环比', vst_uau_month_mom '月活跃月环比'
			</otherwise>
		</choose>
		FROM vst_user_active_upVer
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uau_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uau_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uau_pkg = #{pkgName}
			</if>
			<if test="vst_uau_verNum != null and vst_uau_verNum != ''">
				AND vst_uau_verNum like '%${vst_uau_verNum}%'
			</if>
			<if test="vst_uau_verNum_eq != null and vst_uau_verNum_eq != ''">
				AND vst_uau_verNum = #{vst_uau_verNum_eq}
			</if>
			<if test="vst_uau_verNum_ne != null and vst_uau_verNum_ne != ''">
				AND vst_uau_verNum != #{vst_uau_verNum_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_uau_date DESC, vst_uau_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
</mapper>