<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 活跃用户(省份)统计 -->
<mapper namespace="com.vst.defend.dao2.user.VstUserActiveProvinceDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_uap_date '日期', vst_uap_pkg '包名', vst_uap_province '省份',
				vst_uap_amount '日活跃用户', vst_uap_dod '日活跃天环比', vst_uap_wow '日活跃周环比', vst_uap_mom '日活跃月环比',
				vst_uap_week '周活跃用户', vst_uap_week_dod '周活跃天环比', vst_uap_week_wow '周活跃周环比', vst_uap_week_mom '周活跃月环比',
				vst_uap_month '月活跃用户', vst_uap_month_dod '月活跃天环比', vst_uap_month_wow '月活跃周环比', vst_uap_month_mom '月活跃月环比'
			</otherwise>
		</choose>
		FROM vst_user_active_province
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uap_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uap_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uap_pkg = #{pkgName}
			</if>
			<if test="vst_uap_province != null and vst_uap_province != ''">
				AND vst_uap_province like '%${vst_uap_province}%'
			</if>
			<if test="vst_uap_province_eq != null and vst_uap_province_eq != ''">
				AND vst_uap_province = #{vst_uap_province_eq}
			</if>
			<if test="vst_uap_province_ne != null and vst_uap_province_ne != ''">
				AND vst_uap_province != #{vst_uap_province_ne}
			</if>
			<if test="list_provinces != null and list_provinces != ''">
				AND vst_uap_province IN
				<foreach collection="list_provinces" item="province" open="(" separator="," close=")">
					#{province}
				</foreach>
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_uap_date DESC, vst_uap_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
	<!-- 按省份统计 -->
	<select id="queryReportByProvince" parameterType="map" resultType="java.util.HashMap">
		SELECT
			vst_uap_date, vst_uap_province,
			sum(vst_uap_amount) vst_uap_amount
		FROM vst_user_active_province
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uap_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uap_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uap_pkg = #{pkgName}
			</if>
			<if test="vst_uap_province != null and vst_uap_province != ''">
				AND vst_uap_province like '%${vst_uap_province}%'
			</if>
			<if test="vst_uap_province_eq != null and vst_uap_province_eq != ''">
				AND vst_uap_province = #{vst_uap_province_eq}
			</if>
			<if test="vst_uap_province_ne != null and vst_uap_province_ne != ''">
				AND vst_uap_province != #{vst_uap_province_ne}
			</if>
			<if test="list_provinces != null and list_provinces != ''">
				AND vst_uap_province IN
				<foreach collection="list_provinces" item="province" open="(" separator="," close=")">
					#{province}
				</foreach>
			</if>
		</where>
		GROUP BY vst_uap_date, vst_uap_province
		ORDER BY vst_uap_date ASC, vst_uap_amount DESC
	</select>
	
</mapper>