<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 新增用户(渠道)统计 -->
<mapper namespace="com.vst.defend.dao2.user.VstUserAddChannelDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_uac_date '日期', vst_uac_pkg '包名', vst_uac_channel '渠道',
				vst_uac_amount '新增用户数', vst_uac_dod '天环比', vst_uac_wow '周环比', vst_uac_mom '月环比'
			</otherwise>
		</choose>
		FROM vst_user_add_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uac_pkg = #{pkgName}
			</if>
			<if test="vst_uac_channel != null and vst_uac_channel != ''">
				AND vst_uac_channel like '%${vst_uac_channel}%'
			</if>
			<if test="vst_uac_channel_eq != null and vst_uac_channel_eq != ''">
				AND BINARY vst_uac_channel = #{vst_uac_channel_eq}
			</if>
			<if test="vst_uac_channel_ne != null and vst_uac_channel_ne != ''">
				AND vst_uac_channel != #{vst_uac_channel_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_uac_date DESC, vst_uac_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
	<select id="queryForList" parameterType="map" resultType="java.util.HashMap">
		SELECT * FROM vst_user_add_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uac_pkg = #{pkgName}
			</if>
			<if test="vst_uac_channel != null and vst_uac_channel != ''">
				AND vst_uac_channel like '%${vst_uac_channel}%'
			</if>
			<if test="vst_uac_channel_eq != null and vst_uac_channel_eq != ''">
				AND BINARY vst_uac_channel = #{vst_uac_channel_eq}
			</if>
			<if test="vst_uac_channel_ne != null and vst_uac_channel_ne != ''">
				AND vst_uac_channel != #{vst_uac_channel_ne}
			</if>
		</where>
	</select>
	
	<!-- 按渠道统计 -->
	<select id="queryReportByChannel" parameterType="map" resultType="map">
		SELECT vst_uac_date, vst_uac_channel, sum(vst_uac_amount) vst_uac_amount
		FROM vst_user_add_channel
		<where>
			<if test="startDay != null and startDay != ''">
				vst_uac_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_uac_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_uac_pkg = #{pkgName}
			</if>
			<if test="vst_uac_channel != null and vst_uac_channel != ''">
				AND vst_uac_channel like '%${vst_uac_channel}%'
			</if>
			<if test="vst_uac_channel_eq != null and vst_uac_channel_eq != ''">
				AND BINARY vst_uac_channel = #{vst_uac_channel_eq}
			</if>
			<if test="vst_uac_channel_ne != null and vst_uac_channel_ne != ''">
				AND vst_uac_channel != #{vst_uac_channel_ne}
			</if>
		</where>
		GROUP BY vst_uac_date, vst_uac_channel
		ORDER BY vst_uac_date ASC, vst_uac_amount DESC
	</select>
	
</mapper>