<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 活跃用户 -->
<mapper namespace="com.vst.defend.dao2.user.VstUserActiveDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_ua_date '日期', vst_ua_pkg '包名',
				vst_ua_amount '日活跃用户', vst_ua_dod '日活跃天环比', vst_ua_wow '日活跃周环比', vst_ua_mom '日活跃月环比',
				vst_ua_week '周活跃用户', vst_ua_week_dod '周活跃天环比', vst_ua_week_wow '周活跃周环比', vst_ua_week_mom '周活跃月环比',
				vst_ua_month '月活跃用户', vst_ua_month_dod '月活跃天环比', vst_ua_month_wow '月活跃周环比', vst_ua_month_mom '月活跃月环比'
			</otherwise>
		</choose>
		FROM vst_user_active
		<where>
			<if test="startDay != null and startDay != ''">
				vst_ua_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_ua_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_ua_pkg = #{pkgName}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_ua_date DESC, vst_ua_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
</mapper>