<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 首页分类点击 -->
<mapper namespace="com.vst.defend.dao2.home.VstHomeClassifyClickDao">
	
	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
		<choose>
			<when test="export_column != null and export_column != ''">
				${export_column}
			</when>
			<otherwise>
				vst_hcc_date '日期', vst_hcc_pkg '包名', vst_hcc_cid '影片分类', vst_hcc_type '入口类别',
				vst_hcc_amount '点击量', vst_hcc_amount_dod '天环比', vst_hcc_amount_wow '周环比',
				vst_hcc_uv '独立用户', vst_hcc_uv_dod '独立用户天环比', vst_hcc_uv_wow '独立用户周环比'
			</otherwise>
		</choose>
		FROM vst_home_classify_click
		<where>
			<if test="startDay != null and startDay != ''">
				vst_hcc_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_hcc_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_hcc_pkg = #{pkgName}
			</if>
			<if test="vst_hcc_cid != null and vst_hcc_cid != ''">
				AND vst_hcc_cid = #{vst_hcc_cid}
			</if>
			<if test="vst_hcc_type != null and vst_hcc_type != ''">
				AND vst_hcc_type like '%${vst_hcc_type}%'
			</if>
			<if test="vst_hcc_type_eq != null and vst_hcc_type_eq != ''">
				AND vst_hcc_type = #{vst_hcc_type_eq}
			</if>
			<if test="vst_hcc_type_ne != null and vst_hcc_type_ne != ''">
				AND vst_hcc_type != #{vst_hcc_type_ne}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_hcc_date DESC, vst_hcc_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>
	
</mapper>