<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 二次活跃渠道用户(对内) -->
<mapper namespace="com.vst.defend.dao3.inner.InnerUserSecondaryActiveChannelDiffDao">
	
	<select id="queryForList" parameterType="map" resultType="java.util.HashMap">
		SELECT *,
			CASE vst_usacd_modulus
			WHEN '-1' THEN vst_usacd_amount
			ELSE ROUND(vst_usacd_umeng_uv * vst_usacd_amount / vst_usacd_uv * vst_usacd_modulus)
			END as vst_usacd_new_amount
		FROM vst_user_secondary_active_channel_diff
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usacd_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usacd_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
			<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usacd_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="vst_usacd_updator != null and vst_usacd_updator != ''">
				AND vst_usacd_updator like '%${vst_usacd_updator}%'
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_usacd_date DESC, vst_usacd_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT count(1) FROM vst_user_secondary_active_channel_diff
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usacd_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usacd_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
			<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usacd_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="vst_usacd_updator != null and vst_usacd_updator != ''">
				AND vst_usacd_updator like '%${vst_usacd_updator}%'
			</if>
		</where>
	</select>

	<select id="queryForListAsBean" parameterType="map" resultType="VstUserSecondaryActiveChannelDiff">
		SELECT * FROM vst_user_secondary_active_channel_diff
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usacd_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usacd_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
			<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usacd_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="vst_usacd_updator != null and vst_usacd_updator != ''">
				AND vst_usacd_updator like '%${vst_usacd_updator}%'
			</if>
		</where>
	</select>

	<!-- 导出数据 -->
	<select id="queryExport" parameterType="map" resultType="java.util.LinkedHashMap">
		SELECT
			vst_usacd_date '日期', vst_usacd_pkg '包名', vst_usacd_channel '渠道',
			vst_usacd_uv '当日新增用户', vst_usacd_amount '二次活跃用户',
			vst_usacd_umeng_uv '友盟新增用户', vst_usacd_modulus '调整系数'
		FROM vst_user_secondary_active_channel_diff
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usacd_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usacd_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
			<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usacd_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="vst_usacd_updator != null and vst_usacd_updator != ''">
				AND vst_usacd_updator like '%${vst_usacd_updator}%'
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				vst_usacd_date DESC, vst_usacd_amount DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
	</select>

	<select id="queryById" parameterType="String" resultType="map">
		SELECT * FROM vst_user_secondary_active_channel_diff
		WHERE vst_usacd_id = #{vst_usacd_id}
	</select>
	
	<insert id="insert" parameterType="VstUserSecondaryActiveChannelDiff" >
		INSERT INTO vst_user_secondary_active_channel_diff
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="vst_usacd_id != null">
				vst_usacd_id,
		  	</if>
			<if test="vst_usacd_date != null">
				vst_usacd_date,
		  	</if>
			<if test="vst_usacd_pkg != null">
				vst_usacd_pkg,
		  	</if>
			<if test="vst_usacd_channel != null">
				vst_usacd_channel,
		  	</if>
			<if test="vst_usacd_uv != null">
				vst_usacd_uv,
		  	</if>
			<if test="vst_usacd_amount != null">
				vst_usacd_amount,
		  	</if>
			<if test="vst_usacd_umeng_uv != null">
				vst_usacd_umeng_uv,
		  	</if>
			<if test="vst_usacd_modulus != null">
				vst_usacd_modulus,
			</if>
			<if test="vst_usacd_dod != null">
				vst_usacd_dod,
		  	</if>
			<if test="vst_usacd_wow != null">
				vst_usacd_wow,
		  	</if>
			<if test="vst_usacd_mom != null">
				vst_usacd_mom,
		  	</if>
			<if test="vst_usacd_addtime != null">
				vst_usacd_addtime,
		  	</if>
		  	<if test="vst_usacd_creator != null">
				vst_usacd_creator,
		  	</if>
		  	<if test="vst_usacd_summary != null">
				vst_usacd_summary,
		  	</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="vst_usacd_id != null">
				#{vst_usacd_id},
		  	</if>
			<if test="vst_usacd_date != null">
				#{vst_usacd_date},
		  	</if>
			<if test="vst_usacd_pkg != null">
				#{vst_usacd_pkg},
		  	</if>
			<if test="vst_usacd_channel != null">
				#{vst_usacd_channel},
		  	</if>
			<if test="vst_usacd_uv != null">
				#{vst_usacd_uv},
		  	</if>
			<if test="vst_usacd_amount != null">
				#{vst_usacd_amount},
		  	</if>
			<if test="vst_usacd_umeng_uv != null">
				#{vst_usacd_umeng_uv},
		  	</if>
			<if test="vst_usacd_modulus != null">
				#{vst_usacd_modulus},
			</if>
			<if test="vst_usacd_dod != null">
				#{vst_usacd_dod},
		  	</if>
			<if test="vst_usacd_wow != null">
				#{vst_usacd_wow},
		  	</if>
			<if test="vst_usacd_mom != null">
				#{vst_usacd_mom},
		  	</if>
		  	<if test="vst_usacd_addtime != null">
				#{vst_usacd_addtime},
		  	</if>
		  	<if test="vst_usacd_creator != null">
				#{vst_usacd_creator},
		  	</if>
			<if test="vst_usacd_summary != null">
				#{vst_usacd_summary},
		  	</if>
		</trim>
	</insert>
	
	<!-- 批量添加 -->
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO vst_user_secondary_active_channel_diff
		<trim prefix="(" suffix=")" suffixOverrides=",">
			vst_usacd_id,
			vst_usacd_date,
			vst_usacd_pkg,
			vst_usacd_channel,
			vst_usacd_uv,
			vst_usacd_amount,
			vst_usacd_umeng_uv,
			vst_usacd_modulus,
			vst_usacd_dod,
			vst_usacd_wow,
			vst_usacd_mom,
			vst_usacd_addtime,
			vst_usacd_creator,
			vst_usacd_summary,
		</trim>
		VALUES
		<foreach collection="list" item="i" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{i.vst_usacd_id},
				#{i.vst_usacd_date},
				#{i.vst_usacd_pkg},
				#{i.vst_usacd_channel},
				#{i.vst_usacd_uv},
				#{i.vst_usacd_amount},
				#{i.vst_usacd_umeng_uv},
				#{i.vst_usacd_modulus},
				#{i.vst_usacd_dod},
				#{i.vst_usacd_wow},
				#{i.vst_usacd_mom},
				#{i.vst_usacd_addtime},
				#{i.vst_usacd_creator},
				#{i.vst_usacd_summary},
			</trim>
		</foreach>
	</insert>
	
	<update id="update" parameterType="VstUserSecondaryActiveChannelDiff">
		UPDATE vst_user_secondary_active_channel_diff
		<set>
			<if test="vst_usacd_date != null">
				vst_usacd_date = #{vst_usacd_date},
		  	</if>
			<if test="vst_usacd_pkg != null">
				vst_usacd_pkg = #{vst_usacd_pkg},
		  	</if>
			<if test="vst_usacd_channel != null">
				vst_usacd_channel = #{vst_usacd_channel},
		  	</if>
			<if test="vst_usacd_uv != null">
				vst_usacd_uv = #{vst_usacd_uv},
		  	</if>
			<if test="vst_usacd_amount != null">
				vst_usacd_amount = #{vst_usacd_amount},
		  	</if>
			<if test="vst_usacd_umeng_uv != null">
				vst_usacd_umeng_uv = #{vst_usacd_umeng_uv},
		  	</if>
			<if test="vst_usacd_modulus != null">
				vst_usacd_modulus = #{vst_usacd_modulus},
			</if>
			<if test="vst_usacd_dod != null">
				vst_usacd_dod = #{vst_usacd_dod},
		  	</if>
			<if test="vst_usacd_wow != null">
				vst_usacd_wow = #{vst_usacd_wow},
		  	</if>
			<if test="vst_usacd_mom != null">
				vst_usacd_mom = #{vst_usacd_mom},
		  	</if>
		  	<if test="vst_usacd_uptime != null">
				vst_usacd_uptime = #{vst_usacd_uptime},
		  	</if>
		  	<if test="vst_usacd_updator != null">
				vst_usacd_updator = #{vst_usacd_updator},
		  	</if>
			<if test="vst_usacd_summary != null">
				vst_usacd_summary = #{vst_usacd_summary},
		  	</if>
		</set>
		WHERE vst_usacd_id = #{vst_usacd_id}
	</update>

	<update id="modifyState" parameterType="map">
		UPDATE vst_user_secondary_active_channel_diff
		<set>
			<if test="vst_usacd_modulus != null">
				vst_usacd_modulus = #{vst_usacd_modulus},
			</if>
			<if test="vst_usacd_uptime != null">
				vst_usacd_uptime = #{vst_usacd_uptime},
			</if>
			<if test="vst_usacd_updator != null">
				vst_usacd_updator = #{vst_usacd_updator},
			</if>
		</set>
		WHERE vst_usacd_id IN
		<foreach collection="list_ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<delete id="delete" parameterType="map">
		DELETE FROM vst_user_secondary_active_channel_diff
	    <where>
	    	<if test="list_ids != null and list_ids != ''">
	    		vst_usacd_id IN
	    		<foreach collection="list_ids" item="id" open="(" separator="," close=")">
					#{id}
			    </foreach>
	    	</if>
	    	<if test="startDay != '' and endDay != ''">
	    		AND vst_usacd_date >= #{startDay}
	    		AND vst_usacd_date &lt;= #{endDay}
	    	</if>
	    	<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
	    	<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
	    </where>
	</delete>

	<!-- 根据日期统计 -->
	<select id="queryReportByDate" parameterType="map" resultType="java.util.HashMap">
		SELECT vst_usacd_date as date,
			SUM(CASE vst_usacd_modulus
				WHEN '-1' THEN vst_usacd_amount
				ELSE ROUND(vst_usacd_umeng_uv * vst_usacd_amount / vst_usacd_uv * vst_usacd_modulus)
				END) as vst_usacd_new_amount
		FROM vst_user_secondary_active_channel_diff
		<where>
			<if test="startDay != null and startDay != ''">
				vst_usacd_date >= #{startDay}
			</if>
			<if test="endDay != null and endDay != ''">
				AND vst_usacd_date &lt;= #{endDay}
			</if>
			<if test="pkgName != null and pkgName != ''">
				AND vst_usacd_pkg = #{pkgName}
			</if>
			<if test="vst_usacd_channel != null and vst_usacd_channel != ''">
				AND vst_usacd_channel like '%${vst_usacd_channel}%'
			</if>
			<if test="vst_usacd_channel_eq != null and vst_usacd_channel_eq != ''">
				AND vst_usacd_channel = #{vst_usacd_channel_eq}
			</if>
			<if test="vst_usacd_channel_ne != null and vst_usacd_channel_ne != ''">
				AND vst_usacd_channel != #{vst_usacd_channel_ne}
			</if>
			<if test="list_channels != null and list_channels != ''">
				AND vst_usacd_channel IN
				<foreach collection="list_channels" item="channel" open="(" separator="," close=")">
					#{channel}
				</foreach>
			</if>
			<if test="vst_usacd_updator != null and vst_usacd_updator != ''">
				AND vst_usacd_updator like '%${vst_usacd_updator}%'
			</if>
		</where>
		GROUP BY vst_usacd_date
		ORDER BY vst_usacd_date ASC
	</select>
	
</mapper>