<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 系统模块 -->
<mapper namespace="com.vst.defend.dao.sys.VstSysModuleDao">
	
	<select id="queryForList" parameterType="map" resultType="java.util.HashMap">
		SELECT a.*, b.vst_module_name parentName
		FROM vst_sys_module a
		LEFT JOIN vst_sys_module b ON a.vst_module_parent = b.vst_module_id
		<where>
			<if test="vst_module_id != null and vst_module_id != ''">
				a.vst_module_id = #{vst_module_id}
			</if>
			<if test="vst_module_name != null and vst_module_name != ''">
				AND a.vst_module_name like '%${vst_module_name}%'
			</if>
			<if test="vst_module_parent != null and vst_module_parent != ''">
				AND a.vst_module_parent = #{vst_module_parent}
			</if>
			<if test="vst_module_url != null and vst_module_url != ''">
				AND a.vst_module_url like '%${vst_module_url}%'
			</if>
			<if test="vst_module_icon != null and vst_module_icon != ''">
				AND a.vst_module_icon like '%${vst_module_icon}%'
			</if>
			<if test="vst_module_state != null and vst_module_state != ''">
				AND a.vst_module_state = #{vst_module_state}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="orderBy == null or orderBy == ''">
				a.vst_module_index ASC, a.vst_module_uptime DESC
			</when>
			<otherwise>
				${orderBy} ${order}
			</otherwise>
		</choose>
		<if test="limit != null and limit != ''">
			LIMIT #{limit}
		</if>
		<if test="offset != null and offset != ''">
			OFFSET #{offset}
		</if>
	</select>
	
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT count(1) FROM vst_sys_module a
		LEFT JOIN vst_sys_module b ON a.vst_module_parent = b.vst_module_id
		<where>
			<if test="vst_module_id != null and vst_module_id != ''">
				a.vst_module_id = #{vst_module_id}
			</if>
			<if test="vst_module_name != null and vst_module_name != ''">
				AND a.vst_module_name like '%${vst_module_name}%'
			</if>
			<if test="vst_module_parent != null and vst_module_parent != ''">
				AND a.vst_module_parent = #{vst_module_parent}
			</if>
			<if test="vst_module_url != null and vst_module_url != ''">
				AND a.vst_module_url like '%${vst_module_url}%'
			</if>
			<if test="vst_module_icon != null and vst_module_icon != ''">
				AND a.vst_module_icon like '%${vst_module_icon}%'
			</if>
			<if test="vst_module_state != null and vst_module_state != ''">
				AND a.vst_module_state = #{vst_module_state}
			</if>
		</where>
	</select>
	
	<select id="queryForListAsBean" parameterType="map" resultType="VstSysModule">
		SELECT * FROM vst_sys_module
		<where>
			<if test="vst_module_id != null and vst_module_id != ''">
				vst_module_id = #{vst_module_id}
			</if>
			<if test="vst_module_name != null and vst_module_name != ''">
				AND vst_module_name like '%${vst_module_name}%'
			</if>
			<if test="vst_module_parent != null and vst_module_parent != ''">
				AND vst_module_parent = #{vst_module_parent}
			</if>
			<if test="vst_module_url != null and vst_module_url != ''">
				AND vst_module_url like '%${vst_module_url}%'
			</if>
			<if test="vst_module_icon != null and vst_module_icon != ''">
				AND vst_module_icon like '%${vst_module_icon}%'
			</if>
			<if test="vst_module_state != null and vst_module_state != ''">
				AND vst_module_state = #{vst_module_state}
			</if>
		</where>
		ORDER BY vst_module_index ASC
	</select>
	
	<select id="queryById" parameterType="String" resultType="map">
		SELECT * FROM vst_sys_module
		WHERE vst_module_id = #{vst_module_id}
	</select>
	
	<insert id="insert" parameterType="VstSysModule">
		INSERT INTO vst_sys_module
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="vst_module_id != null">
				vst_module_id,
		  	</if>
			<if test="vst_module_name != null">
				vst_module_name,
		  	</if>
			<if test="vst_module_parent != null">
				vst_module_parent,
		  	</if>
			<if test="vst_module_url != null">
				vst_module_url,
		  	</if>
			<if test="vst_module_icon != null">
				vst_module_icon,
		  	</if>
			<if test="vst_module_index != null">
				vst_module_index,
		  	</if>
			<if test="vst_module_state != null">
				vst_module_state,
		  	</if>
			<if test="vst_module_addtime != null">
				vst_module_addtime,
		  	</if>
			<if test="vst_module_uptime != null">
				vst_module_uptime,
		  	</if>
			<if test="vst_module_operator != null">
				vst_module_operator,
		  	</if>
		  	<if test="vst_module_summary != null">
				vst_module_summary,
		  	</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="vst_module_id != null">
				#{vst_module_id},
		  	</if>
			<if test="vst_module_name != null">
				#{vst_module_name},
		  	</if>
		  	<if test="vst_module_parent != null">
				#{vst_module_parent},
		  	</if>
		  	<if test="vst_module_url != null">
				#{vst_module_url},
		  	</if>
		  	<if test="vst_module_icon != null">
				#{vst_module_icon},
		  	</if>
		  	<if test="vst_module_index != null">
				#{vst_module_index},
		  	</if>
		  	<if test="vst_module_state != null">
				#{vst_module_state},
		  	</if>
		  	<if test="vst_module_addtime != null">
				#{vst_module_addtime},
		  	</if>
		  	<if test="vst_module_uptime != null">
				#{vst_module_uptime},
		  	</if>
		  	<if test="vst_module_operator != null">
				#{vst_module_operator},
		  	</if>
			<if test="vst_module_summary != null">
				#{vst_module_summary},
		  	</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="VstSysModule">
		UPDATE vst_sys_module
		<set>
			<if test="vst_module_name != null">
				vst_module_name = #{vst_module_name},
		  	</if>
		  	<if test="vst_module_parent != null">
				vst_module_parent = #{vst_module_parent},
		  	</if>
		  	<if test="vst_module_url != null">
				vst_module_url = #{vst_module_url},
		  	</if>
		  	<if test="vst_module_icon != null">
				vst_module_icon = #{vst_module_icon},
		  	</if>
		  	<if test="vst_module_index != null">
				vst_module_index = #{vst_module_index},
		  	</if>
		  	<if test="vst_module_state != null">
				vst_module_state = #{vst_module_state},
		  	</if>
		  	<if test="vst_module_uptime != null">
				vst_module_uptime = #{vst_module_uptime},
		  	</if>
		  	<if test="vst_module_operator != null">
				vst_module_operator = #{vst_module_operator},
		  	</if>
			<if test="vst_module_summary != null">
				vst_module_summary = #{vst_module_summary},
		  	</if>
		</set>
		WHERE vst_module_id = #{vst_module_id}
	</update>
	
	<update id="modifyState" parameterType="map">
		UPDATE vst_sys_module
		<set>
		  	<if test="vst_module_state != null">
				vst_module_state = #{vst_module_state},
		  	</if>
		  	<if test="vst_module_uptime != null">
				vst_module_uptime = #{vst_module_uptime},
		  	</if>
		  	<if test="vst_module_operator != null">
				vst_module_operator = #{vst_module_operator},
		  	</if>
		</set>
		WHERE vst_module_id IN
		<foreach collection="list_ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
	<!-- 批量修改 -->
	<update id="batchUpdate" parameterType="list">
    	update vst_sys_module 
        <trim prefix="set" suffixOverrides=",">
			<trim prefix="vst_module_name =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
			    	<if test="i.vst_module_name != null">
			        	when vst_module_id=#{i.vst_module_id} then #{i.vst_module_name}
			    	</if>
				</foreach>
			</trim>
			<trim prefix="vst_module_index =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
			    	<if test="i.vst_module_index != null">
			        	when vst_module_id=#{i.vst_module_id} then #{i.vst_module_index}
			    	</if>
				</foreach>
			</trim>
			<trim prefix="vst_module_state =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
			    	<if test="i.vst_module_state != null">
			        	when vst_module_id=#{i.vst_module_id} then #{i.vst_module_state}
			    	</if>
				</foreach>
			</trim>
			<trim prefix="vst_module_uptime =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
			    	<if test="i.vst_module_uptime != null">
			        	when vst_module_id=#{i.vst_module_id} then #{i.vst_module_uptime}
			    	</if>
				</foreach>
			</trim>
			<trim prefix="vst_module_operator =case" suffix="end,">
				<foreach collection="list" item="i" index="index">
			    	<if test="i.vst_module_operator != null">
			        	when vst_module_id=#{i.vst_module_id} then #{i.vst_module_operator}
			    	</if>
				</foreach>
			</trim>
		</trim>
        <where>
			<foreach collection="list" separator="or" item="i" index="index" >
	        	vst_module_id = #{i.vst_module_id}
			</foreach>
		</where>
	</update>
	
	<delete id="delete" parameterType="map">
		DELETE FROM vst_sys_module
		WHERE vst_module_id IN
		<foreach collection="list_ids" item="id" open="(" separator="," close=")">
			#{id}
	    </foreach>
	</delete>
	
	<!-- 根据角色id获取相应的模块列表 -->
	<select id="getModulesByRoleId" resultType="VstSysModule">
		SELECT DISTINCT * FROM vst_sys_module WHERE vst_module_id IN (
			SELECT vst_module_id FROM vst_sys_permission WHERE vst_role_id IN 
			<foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
	            #{roleId}
	        </foreach>
		) AND vst_module_state = 1 ORDER BY vst_module_index ASC
	</select>
</mapper>