<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/rdb 
                        http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd">

	<!-- 单列取模，表拆分策略 -->
    <rdb:strategy id="moduloSingleKeyTableShardingStrategy" sharding-columns="vst_uid" algorithm-class="com.vst.defend.communal.sharding.ModuloSingleKeyTableShardingAlgorithm" />
    <!-- 单列取月份，表拆分策略 -->
    <rdb:strategy id="monthSingleKeyTableShardingStrategy" sharding-columns="vst_mp_date" algorithm-class="com.vst.defend.communal.sharding.MonthSingleKeyTableShardingAlgorithm" />
    
    <rdb:data-source id="shardingDataSource">
        <rdb:sharding-rule data-sources="dataSource2">
            <rdb:table-rules>
                <rdb:table-rule logic-table="vst_member" actual-tables="vst_member_${0..9}" table-strategy="moduloSingleKeyTableShardingStrategy" />
                <!-- 
                <rdb:table-rule logic-table="vst_movie_play" actual-tables="vst_movie_play, vst_movie_play_${201701..201712}" table-strategy="monthSingleKeyTableShardingStrategy" />
            	 -->
            </rdb:table-rules>
        </rdb:sharding-rule>
        <rdb:props>
            <prop key="sql.show">true</prop>
            <prop key="executor.size">4</prop>
        </rdb:props>
    </rdb:data-source>
    
    <!-- 事务管理器
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource" />
    </bean>
    -->
</beans>